.Dictionary-title {
  color: #377468;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 38px;
}

.Dictionary__form-control {
  width: 100%;
}
.Dictionary__form-control::placeholder {
  color: #37746869;
}

.Dictionary__form-control:focus {
  outline: none !important;
  box-shadow: 0 0 0 5px #dff7f2;
  border: #26f8cd;
}

.Dictionary__btn {
  background-color: #2fd7b4;
  color: #ffffff;
  font-size: 16px;
}

.Dictionary__btn:hover {
  background-color: #26f8cd;
  color: #dff7f2;
}
.Dictionary__btn:focus {
  outline: none !important;
  box-shadow: 0 0 0 5px #dff7f2;
  border: #26f8cd;
}

.Dictionary__errorMessage {
  text-align: center;
  font-size: 50px;
  color: #2fd7b4;
  font-weight: bold;
  margin-bottom: 50px;
}

.Dictionary__errorResolution {
  text-align: center;
  font-size: 25px;
  color: #37746893;
}

@media (max-width: 1200px) {
  .Dictionary__errorMessage {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .Dictionary__errorResolution {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .Dictionary-title {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .Dictionary__btn {
    padding: 2px 5px;
    margin-top: 4px;
    font-size: 14px;
  }
  .Dictionary__search-engine {
    font-size: 13px;
  }
  .Dictionary__form-control {
    width: 100%;
    font-size: 14px;
  }

  .Dictionary__errorMessage {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .Dictionary__errorResolution {
    font-size: 10px;
  }
}
