body, html {
  font-family: 'PT Serif', serif;
}

.App {
  background-color: #ffffff;
  margin: 50px 100px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 1px 13px -5px rgba(47, 215, 180, 0.33);
}

.App-header {
  color: #377468;
  margin-bottom: 10px;
  font-weight: bold;
}
