.Meanings__part {
  color: #2fd7b4;
}

.Meanings__definitions {
  margin-top: 15px;
  margin-bottom: 25px;
}

.Meanings__definition {
  margin-bottom: 7px;
}

.Meanings__example {
  margin-bottom: 10px;
  color: #65706dd0;
}

.Meanings__example:first-letter {
  text-transform: capitalize;
}

@media (max-width: 450px) {
  .Meanings {
    font-size: 15px;
  }
  .Meanings__part {
    font-size: 20px;
  }

  .Meanings__definition {
    margin-bottom: 5px;
  }

  .Meanings__example {
    margin-bottom: 7px;
    color: #65706dd0;
  }
}
