.Meanings__part {
  color: #2fd7b4;
}

.Meanings__definitions {
  margin-top: 15px;
  margin-bottom: 25px;
}

.Meanings__definition {
  margin-bottom: 7px;
}

.Meanings__example {
  margin-bottom: 10px;
  color: #65706dd0;
}

.Meanings__example:first-letter {
  text-transform: capitalize;
}
